.main-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;               
}

.main-container header {
    display: flex;
    align-items: center;
}

.main-container header img {
    height: 80px;
}

.main-container header span {
    font-size: 20px;
    margin-left: 24px;
}

.main-container header p {
    font-size: 16px;
    margin-left: 24px;
}

.main-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.main-container section.form form{
    margin-top:100px;
}

.main-container section.form form h1{
    font-size:18px;
    margin-bottom: 32px; 
    color:#4682B4;
}

.main-container section.form button{
    width: 80px;
    height: 50px;
    background-color: #4682B4;
    border:0;
    border-radius: 8px;
    color: #FFF;
    margin-left: 20px;
}

.container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: "a b"
                        "c c"
}

.div-a {
    background-color: #2f98bb;
    border-radius: 8px;
    padding: 30px;
    margin: 10px;
    text-align: center;    
    font-size: 16px;
    grid-area: a;
}

.div-a span{
    font-size: 40px;
}

.div-a div{
    font-size: 50px; 
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: #f1f1f1;
    border-radius: 100%;
    border-color: #434343;
    border-style: solid;    
    border-width: 12px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;

}

.div-a div p{
    font-size: 63px;
    text-align: center;
    color: #0C6684;   
}

.div-b {
    background-color: #2f98bb;
    border-radius: 8px;
    padding: 30px;
    margin: 10px;
    text-align: center;    
    font-size: 16px;
    grid-area: b;
}

.div-b span{
    font-size: 30px;
}

.div-c {
    background-color: #2f98bb;
    border-radius: 8px;
    padding: 30px;
    margin: 10px;
    text-align: center;    
    font-size: 16px;
    grid-area: c;
}

.div-c span{
    font-size: 30px;
}

