.submit {
    width: 80%;
    height: 60px;
    background: #434343;
    border: 0;
    border-radius: 8px;
    color: #FFFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.submit:hover {
    filter: brightness(80%);
}

.submit-all {
     
    border: 0;  
    font-weight: 700;    
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color:#2f98bb;
    font-size: 20px;    
    transition: filter 0.2s;
    margin-top: 15px;
}

.submit-all:hover {
    filter: brightness(80%);
}

form input {
    width: 80%;
    height: 60px;
    color: #434343;
    border: 1px solid #DCDCE6;
    border-radius: 8px;
    padding: 0 24px;
}

table {
    text-align: left;
    padding: 20px;
    width: 80%;
}

form table {
    text-align: left;
    padding: 20px;
    width: 100%;
}

.main-container {
    width: 80%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;               
}

.main-container header {
    display: flex;
    align-items: center;
}

.main-container header img {
    height: 80px;
}

.main-container header span {
    font-size: 20px;
    padding: 10px;
    margin-left: 24px;
}

.main-container header p {
    font-size: 16px;
    margin-left: 24px;
}

.main-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.main-container section.form form{
    margin-top:100px;
}

.main-container section.form form h1{
    font-size:18px;
    margin-bottom: 32px; 
    color:#4682B4;
}

.main-container section.form button{
    width: 80px;
    height: 50px;
    background-color: #4682B4;
    border:0;
    border-radius: 8px;
    color: #FFF;
    margin-left: 20px;
}

.container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: "a b"
                        "c c"
}

.container div {
    background-color: #2f98bb;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;    
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container div span {
    font-size: 40px;
}

.div-a {    
    grid-area: a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-a div{
    font-size: 50px; 
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: #f1f1f1;
    border-radius: 100%;
    border-color: #434343;
    border-style: solid;    
    border-width: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.div-a div p{
    font-size: 54px;
    text-align: center;
    color: #0C6684;   
}

.div-b {
    grid-area: b;
}

.div-b form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content:center;
}

.div-c {
    grid-area: c;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.div-c p{
    font-size: 26px;
}


