button {
    border:0px;
}

.container-inline {
    display: inline-block; 
    padding: 10px;
    align-items: center;    
}

.container-inline h1 {
    padding: 7px;
    border-radius: 8px;
    font-size:26px;    
    background-color: #2f98bb;
    color:#f1f1f1;
}

.container-inline p {
    padding: 7px;
    font-size:26px;
    color:#434343;
}